/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: .5em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-home-item {
  @include breakpoint($medium) {
    display: block !important;
  }
  display: none !important;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.masthead__lang-switch {
  margin-left: auto;

  a {
    font-weight: 600;
    border: 1px solid $border-color;
    border-radius: 999px;
    padding: 0.25rem 0.85rem !important;
    margin: 0 0.5rem !important;

    i {
      margin-right: 0.25rem;
    }

    &:hover {
      background-color: $border-color;
    }

    &:before {
      display: none !important;
    }
  }
}

.greedy-nav {
  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: $masthead-link-color;
    text-decoration: none;

    &:after {
      display: none;
    }

    &:hover {
      color: $masthead-link-color-hover;
    }
  }

  .visible-links {
    a {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background: $success-color;
        width: 100%;
        transition: $global-transition;
        transform: scaleX(0);
      }

      &:hover:before {
        transform: scaleX(1);
      }
    }
  }
}


