<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    {{/* Allow other modules/partials to inject head content via hooks */}}
    {{ partial "hooks/head-end/github-button.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer>
      <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
    </footer>
  </body>
</html>
